<h1>以下为操作影响的数据</h1>

<table>
	<tr>	
	<th>单位</th>
	<th>类型</th>
	<th>操作前库存</th>
	<th>操作数据</th>
	<th>操作后库存</th>
	</tr>

	<% @df.data_lists.each do |f| %>
	<tr>		
		<td><%= f.firework.name %></td>
		<td><%= f.firework.spec %></td>
		<td><%= f.before_data %></td>
		<td><%= f.data_number %></td>
		<td><%= f.last_data %></td>
	</tr>
	<% end %>
</table>
