
<h1>仓库库存列表</h1>
<%= form_tag(search_path, :method => "get") do %>
  <%= label_tag(:q, "输入品名关键字:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("搜索") %>
<% end %>
<br />

<table>
	<tr>
	<th>品名</th>
	<th>规格</th>
	<th>库存</th>
	<th>操作</th>
	</tr>

	<% @fireworks.each do |f| %>
	<tr>
		<td><%= link_to f.name, f %></td>
		<td><%= f.spec %></td>
		<td><%= f.lastdata %></td>
		<td><%= link_delete f  %></td>
	</tr>
	<% end %>
</table>
<%=include_autocomplete_js%>
<script>
	$(function() {
		var availableTags = 
		<%=raw @fireworks.map{|f| f.name}%>
		;
		$( "#q" ).autocomplete({
			source: availableTags
		});
	});
	</script>