<div class="btn-group">
<%= link_to "新入库单", new_data_form_path(:type=>"in"),class: 'btn btn-default' %>
<%= link_to "新出库单", new_data_form_path(:type=>"out"),class: 'btn btn-success' %>
</div>
<p/>
<table class="table table-bordered table-hover">
	<tr>	
	<th>单位</th>
	<th>类型</th>
	<th>状态</th>
	<th>日期</th>
	<th>操作</th>
	</tr>

	<% @data_forms.each do |f| %>
	<tr>		
		<td><%= link_to f.comment, f %></td>
		<td><%= f.get_type %></td>
		<td><%= f.get_state %></td>
		<td><%= format_date(f.created_at) %></td>
		<td><%= link_delete f,!f.finished? %></td>
	</tr>
	<% end %>
</table>
<div class="flickr_pagination">
      <%=h paginate @data_forms %>
</div>
