<h1><%= s_type_to_s(@type)+"单" %></h1>

<%= form_for(@data_form) do |f| %>
  <% if @data_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= "有#{@data_form.errors.count}个错误" %> :</h2>

      <ul>
      <% @data_form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <div class="field">
    <%= f.label "描述" %><br />
    <%= f.text_field :comment %><span class="require">*必须填写</span>
  </div>
  </fieldset>
  <br/>
  
  <%= f.hidden_field :s_type,:value=>1 %>
  <fieldset id="fieldset0">
  <% f.fields_for :data_lists do |d| %>
  	<%=d.label "品名==规格" %>：
  	<%= select_firework_name_tag(d) %>  
  	<%= d.label s_type_to_s(@type)+"量" %>：
    <%= d.text_field :data_number,:size=>3 %><span class="require">*必须填写数字</span>
    <%= d.hidden_field :s_type,:value=>1 %>
  <% end %>
  </fieldset>

  <br />

  <div class="actions">
    <input type="button" onclick="add_data_list();" value="添加详单" /> | <%= f.submit '提交' %>
  </div>
<% end %>


<%= link_to '返回', fireworks_path %>