<h1><%= @data_form.comment %></h1>

<% unless @data_form.finished? %>
<%= form_for @data_list do |d| %>

	<% if @data_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= "有#{@data_list.errors.count}个错误" %> :</h2>
      <ul>
      <% @data_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if flash[:notice] %>
  <p class="error high"><%= flash[:notice] %></p>
  <% end %>

 <%=d.label "品名==规格" %>：
 <%#= select_firework_name_tag(d) %>  
 <%= d.autocomplete_field  :firework, data_forms_autocomplete_firework_name_path, :id_element => '#data_list_firework_id',:update_elements => {:lastdata => "#depot_last_data"}%>
 
<%= d.text_field :firework_id,:size=>3,:hidden=>true %>
 <span>库存:</span>
 <span id="depot_last_data" class="high">0</span>
 <%= d.label @data_form.get_type+"量" %>：
 <%= d.text_field :data_number,:size=>3 %><span class="require">*填数字</span>
 <%= d.hidden_field :s_type,:value => @data_form.s_type %>
 <%= d.hidden_field :data_form_id,:value => @data_form.id.to_s %>
<input type="button" onclick="commit_data()" value="新增" />  <% end %>

<% end %>

<h2>以下为已操作的表单：</h2>
<table>
	<tr>
	<th>类型</th>
	<th>品名</th>
	<th>型号</th>
	<th>日期</th>
	<th>数量</th>
	<th>库存</th>
	<th>操作</th>
	</tr>

	<% @data_form.data_lists.order("created_at asc").each do |f| %>
	<tr>
		<td><%= f.get_type %></td>
		<td><%= f.firework.name %></td>
		<td><%= f.firework.spec %></td>
		<td><%= format_date(f.created_at) %></td>
		<td><%= f.data_number %></td>
		<td><%= f.firework.lastdata %></td>
		<td><%= link_delete( data_list_path(f)+"?data_form_id="+@data_form.id.to_s, !@data_form.finished? ) %></td>
	</tr>
	<% end %>
</table>

<p/>
<%= link_to_unless @data_form.finished?,"完成", finished_path(@data_form) %>|<%= link_to "返回", data_forms_path %>
