<div class="page-header">
<h1><%= @data_form.comment %></h1>
</div>

<div class="mycontent">
<table>
<thead>
	<tr>
	<th>类型</th>
	<th>品名</th>
	<th>型号</th>
	<th>日期</th>
	<th>数量</th>
	<th>库存</th>
	<th>操作</th>
	</tr>
</thead>
<tbody>
	<% @data_form.data_lists.order("created_at asc").each do |f| %>
	<tr>
		<td><%= f.get_type %></td>
		<td><%= f.firework.name %></td>
		<td><%= f.firework.spec %></td>
		<td><%= format_date(f.created_at) %></td>
		<td><%= f.data_number %></td>
		<td><%= f.last_data %></td>
		<td><%#= link_delete f %></td>
	</tr>
	<% end %>
</tbody>
</table>

<p/>
<%= link_to_unless @data_form.finished?,"完成", finished_path(@data_form) %>|<%= link_to "返回", data_forms_path %>
</div>