!!!
%html
  %head
    %title 仓库
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag 'application'
    = yield :other_style
    = javascript_include_tag 'application'
    = yield :other_javascript
    = csrf_meta_tag
  %body
    = render 'shared/nav_menu'
    .container
      = yield
    = debug params if admin? || (Rails.env.eql? "development")


