<!DOCTYPE html>
<html>
<head>
  <title>仓库</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tag %>
</head>
<body>
  <header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="" class="navbar-brand">烟花库存管理系统</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <%= menu_link_to params[:controller]=='fireworks' && params[:action]!='new', "库存明细", fireworks_path %>
        <%= menu_link_to params[:controller]=='fireworks' && params[:action]=='new', "新入库", new_firework_path,:title=>"仓库没有货进行首次入库" %>
        <%= menu_link_to params[:controller]=='data_forms', "库单操作", data_forms_path ,:title=>"出库和入库单处理"%>
        <% if admin? %>
        <li><%= link_to "备份", new_loadback_path ,:title=>"备份"%></li>
        <li><%= link_to "Shell", new_command_path ,:title=>"备份"%></li>
        <% end %>
        <% if login? %>
        <li><%= link_to "登出", logout_path, :method=>:delete, :title=>"为了安全，做完帐之后要登出。" %></li>
        <% end %>
      </ul>
      <%= form_tag(search_path, :method => "get", class:'navbar-form navbar-left') do %>
        <div class="form-group">
        <%= autocomplete_field_tag 'q', '', fireworks_autocomplete_firework_name_path,
            class:'form-control',placeholder:'输入品名关键字' %>
        </div>
        <%= submit_tag("搜索", class:"btn btn-default") %>
      <% end %>
    </nav>

    
  </div>
</header>

<div class="container">  
<%= yield %>
</div>

<%= debug params if admin? || (Rails.env.eql? "development") %>
</body>
</html>
