<!DOCTYPE html>
<html>
<head>
  <title>NewDepot</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery','rails','new_depot' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="header">
<ul>
<li><%= link_to "库存明细", fireworks_path %></li>
<li><%= link_to "新入库", new_firework_path %></li>
<li>查找</li>
<li><%= link_to "库单操作", data_forms_path %></li>
</ul>
</div>
<div id="container">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <%= yield %>
</div>

<%= debug params %>
</body>
</html>
